@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,500;1,700&display=swap");

/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Roboto+Condensed&display=swap");

/* 
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FFD0D3;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  /* Set everything to the Center of the screen: */
  justify-content: center;
  overflow: scroll;
}

h1,
h2 {
  font-family: "Annie Use Your Telescope", cursive;
}

.header {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.header h1 {
  position: relative;
  height: 3rem;
  font-size: 3rem;
  letter-spacing: 8px;
  text-align: center;
  justify-content: center;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  border-radius: 10px;
  background-color: #CEC4DC;
}

.banner-item {
  flex: 2;
  text-align: center;
  text-transform: uppercase;
}

.banner-item:first-of-type img {
  border-radius: 50%;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-color:  rgb(194, 159, 218);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid pink;
  flex: 0.3;
    flex-wrap: wrap;

  height: 80vh;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel-header {
  font-size: 12px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  opacity: 0.5;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
}

.panel-content-rows {
  display: flex;
  flex: 0;
  flex-direction: row;
  opacity: 0;
}

.panel-content-item {
  visibility: hidden;
}

.panel-content-item-h {

}

.panel.active {
  background-color: #CEC4DC;
  border: 3px solid pink;
  flex: 6;
  transition: all 1s ease-in;
}

.panel.active .panel-header {
  /* position: absolute;
  left: 20px;
  top: 20px; */
  font-size: 24px;
  opacity: 1;
  transition: all 1s ease-in 0.2s;
}

.panel.active .panel-content {
  margin-top: 50px;
  opacity: 1;
  transition: all 1s ease-in 0.2s;
}

.panel.active  .panel-content-rows {
  flex: 1;
  opacity: 1;
  transition: all 1s ease-in 0.1s;
}

.panel.active .panel-content-item {
  visibility: unset;
  padding: 30px;
  transition: all 1s ease-in 0.2s;
}

.panel.active .panel-content a,
.panel.active .panel-content p,
.panel.active .panel-content-rows a,
.panel.active .panel-content-rows p {
  text-align: center;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  opacity: 1;
  transition: all 1s ease-in 0.1s;
}

.inactive {
  display: none;
  opacity: 0;
}

.status-text {
  font-size: 32px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 3px;
  font-family: 'Annie Use Your Telescope', cursive;
  transition: all 1s ease-in 0.2s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(3) .panel:nth-of-type(4) {
    display: none;
  }
}
